header {
    text-align: center;
    background-color: slategrey;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.display-4{
    font-size: 35px;
}
.search-container{
    
}